@import "colors";
@import "postline";

@navbar-height: 55px;
@content-padding: 110px;
@sidebar-width: 265px;
@sidebar-height: 300px;
@postline-width: 935px;

/* custom template */
html, body
{
  height: 100%;
  min-width: 500px;
  font-family: 'Roboto', sans-serif;
  background-color: @colorBase;
}

.row
{
  margin: 0;
}

/* top navbar */
#topnav.navbar-default .navbar-brand
{
  height: @navbar-height;
  color: @nav-main-color;
  font-style: italic;
  font-weight: bold;
  padding: 15px 30px 0 45px;
}

#topnav.navbar-default
{
  font-size: 12pt;
  font-family: 'Roboto Light', sans-serif;
  background-color: rgba(255, 255, 255, 1);
  border-bottom-width: 1px;
  box-shadow: 0 0 6px rgba(0,0,0,0.5);
}

#topnav.navbar-default .navbar-nav>li>a
{
  color: rgba(165, 165, 165, 1);
  background-color: rgba(255, 255, 255, 1);
}

#topnav.navbar-default .navbar-nav>li>a:hover,
#topnav.navbar-default .navbar-nav>li>a:focus
{
  color: @nav-main-color;
  background-color: rgba(248, 248, 248, 0);
}

#topnav.navbar-default .navbar-nav>.active>a,
#topnav.navbar-default .navbar-nav>.active>a:hover,
#topnav.navbar-default .navbar-nav>.active>a:focus
{
  color: @nav-main-color;
  background-color: rgba(255, 255, 255, 1);
  border-bottom: 3px solid @nav-main-color;
}

#topnav.navbar-default .navbar-toggle
{
  border-color: #ffffff;
}

#topnav.navbar-default .navbar-toggle:hover,
#topnav.navbar-default .navbar-toggle:focus
{
  background-color: #ffffff;
}

#topnav.navbar-default .navbar-toggle .icon-bar
{
  background-color: #ffffff;
}

#topnav.navbar-default .navbar-toggle:hover .icon-bar,
#topnav.navbar-default .navbar-toggle:focus .icon-bar
{
  background-color: #ffffff;
}

/* content */
.wrapper
{
  min-width: @post-width * 3;
}

.content
{
  padding-top: @content-padding;
  height: 100%;

  .sidebar {
    width: @sidebar-width;
    height: @sidebar-height;
    float: left;
  }

  .posts {
    width: @postline-width + @post-margin + 20;
    margin-left: @sidebar-width;
  }
}

/* filter sidebar */

.filter-sidebar {
  list-style-type: none;
  font-family: 'Roboto Medium', sans-serif;
  font-weight: 600;
  font-size: 11pt;
  margin-left: 25px;

  li{
    margin-bottom: 35px;

    .fa{
      margin-right: 15px;
    }

  }

  li:hover {
    color: @nav-main-color;
    cursor: pointer;
  }

  .all, .news, .events, .sales {
    color: @colorGrey;
  }
}
