@import "colors";

// TODO использовать миксины

/* Post */
@post-height: 470px;
@post-width: 275px;
@post-logo-size: 30px;
@post-poster-height: 195px;
@post-description-height: 115px;
@post-margin: 55px;

/* Modal */
@modal-btn-width: 80px;
@modal-body-width: 465px;
@modal-width: @modal-body-width + @modal-btn-width * 2;
@modal-height: 715px;
@modal-poster-height: 330px;
@modal-content-height: 220px;

/* Common */
@logo-col-width: 60px;
@time-col-width: 60px;
@header-height: 55px;

@el-margin: 15px;

/* Post */
.post
{
  background-color: @colorPostBg;
  cursor: pointer;
  width: @post-width;
  height: @post-height;
  margin-bottom: @post-margin;
  margin-right: @post-margin;
  border: 1px solid @colorGreyLite;
  border-radius: 3px;

  .post-header {
    height: @header-height ;

    .column-center {
      width: @post-width - @logo-col-width - @time-col-width - 2;
    }
  }

  .place-logo {
    height: @post-logo-size;
    width: @post-logo-size;
    margin-top: @el-margin - 4;
    margin-left: @el-margin;
  }

  .title
  {
    font-family: 'Roboto Medium', sans-serif;
    color: @colorTextDark;
    padding: 0;
    margin: 0;
    margin-top: @el-margin - 7;
    font-weight: 600;
  }

  .place-about
  {
    font-family: 'Roboto Light', sans-serif;
    color: @colorGrey;
    margin-top: -1px;
    font-size: 90%;
  }

  .poster
  {
    width: @post-width - 2;
    height: @post-poster-height;
  }

  .post-content
  {
    margin: @el-margin;
    margin-top: @el-margin + 5;
    padding-bottom: @el-margin + 5;
    border-bottom: 1px solid @colorGreyLite;
  }

  .time-ago
  {
    color:@colorGrey;
    font-size: 115%;
    margin-top: @el-margin;
    padding-left: @el-margin;
  }

  .description
  {
    color: @colorGreyDark;
    overflow: hidden;
    text-overflow: ellipsis;
    height: @post-description-height;
  }

  .post-footer {
    .post-type {
      float: left;
      margin-left: @el-margin;
      color: @nav-main-color;
    }

    .post-type:hover {
      color: lighten(@nav-main-color, 20%);
    }

    .like-btn {
      float: right;
      margin-right: @el-margin;
      color: @colorGreyMedium;
    }

    .like-btn :hover {
      color: @colorGreyDark;
    }
  }
}

/* Post modal */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog
{
  display: inline-block;
  width:@modal-body-width;
  height:@modal-height;
}

.modal-content
{
  .modal-body
  {
    padding: 0;
    margin: 0;
    background-color: @colorPostBg;
    width: @modal-body-width - 2;
    height: @modal-height;
    border-radius: 3px;

    .modal-post-header {
      height: @header-height ;

      .column-center {
        width: @modal-body-width - @logo-col-width - @time-col-width - 2;
      }
    }

    .place-logo
    {
      height: @post-logo-size;
      width: @post-logo-size;
      margin-top: @el-margin - 4;
    }

    .title, .place-about
    {
      text-align: left;
    }

    .title
    {
      font-family: 'Roboto Medium', sans-serif;
      padding: 0;
      margin: 0;
      margin-top: @el-margin - 7;
      color: @colorTextDark;
      font-weight: 600;
    }

    .place-about
    {
      font-family: 'Roboto Light', sans-serif;
      color: @colorGrey;
      margin-top: -1px;
      font-size: 90%;
    }

    .modal-poster
    {
      width: @modal-body-width - 2;
      height: @modal-poster-height;
    }

    .modal-post-content
    {
      margin: @el-margin + 5 0 @el-margin @el-margin + 5;
      padding-bottom: @el-margin + 5;
      border-bottom: 2px solid @colorGreyLite;
    }

    .time-ago
    {
      color:@colorGrey;
      font-size: 115%;
      margin-top: @el-margin;
      padding-left: @el-margin;
    }

    .description
    {
      color: @colorGreyDark;
      overflow-y: auto;
      text-align: left;
      height: @modal-content-height;
    }

    .modal-post-footer {
      .post-type {
        float: left;
        margin-left: @el-margin * 2;
        color: @nav-main-color;
      }

      .post-type:hover {
        color: lighten(@nav-main-color, 20%);
      }

      .like-btn {
        float: right;
        margin-right: @el-margin * 2;
        color: @colorGreyMedium;
        cursor: pointer;
      }

      .like-btn :hover {
        color: @colorGreyDark;
      }

      .post-place-address {
        font-family: 'Roboto', sans-serif;
        float:left;
        margin-left: @el-margin * 2;
        color: @colorGreyMedium;
        font-size: 90%;
      }
    }
  }
}

.column-left,
.column-center,
.column-right {
  float: left;
  min-height: 100%;
}

.column-left {
  width: @logo-col-width;
}

.column-right {
  width: @time-col-width;
}






