@import "colors";

@post-height: 470px;
@post-width: 275px;
@post-logo-size: 30px;
@post-poster-height: 195px;
@post-description-height: 115px;

@modal-btn-width: 80px;
@modal-body-width: 470px;
@modal-width: @modal-body-width + @modal-btn-width * 2;
@modal-height: 715px;

@modal-poster-height: 330px;

@el-margin: 15px;

/* Post */
.post
{
  background-color: @colorPostBg;
  cursor: pointer;
  width: @post-width;
  height: @post-height;
  margin-bottom: 25px;
  border: 1px solid @colorGreyLite;
  border-radius: 3px;

  .place-logo
  {
    height: @post-logo-size;
    width: @post-logo-size;
    margin-top: @el-margin - 5;
  }

  .title
  {
    color: @colorTextDark;
    padding: 0;
    margin: 0;
    margin-left: -3px;
    margin-top: @el-margin - 7;
    font-weight: 600;
  }

  .place-about
  {
    color: @colorGrey;
    margin-left: -3px;
    margin-top: -3px;
    font-size: 90%;
  }

  .poster
  {
    width: @post-width - 2;
    height: @post-poster-height;
  }

  .post-content
  {
    margin: @el-margin;
    margin-top: @el-margin + 5;
    padding-bottom: @el-margin + 5;
    border-bottom: 1px solid @colorGreyLite;
  }

  .time-ago
  {
    color:@colorGrey;
    font-size: 115%;
    margin-top: @el-margin;
    padding-left: @el-margin;
  }

  .description
  {
    color: @colorGreyDark;
    overflow: hidden;
    text-overflow: ellipsis;
    height: @post-description-height;
  }

  .post-footer {

  }
}

/* Post modal */
.modal {
  text-align: center;
  padding: 0!important;
}

.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px; /* Adjusts for spacing */
}

.modal-dialog
{
  display: inline-block;
  width:@modal-width;
  height:@modal-height;
}

.prev-post-btn, .next-post-btn
{
  width: @modal-btn-width;
  height: @modal-height;
  background-color: @colorGrey;
  opacity:0.9;
  filter:alpha(opacity=50);
  -moz-opacity:0.5;
}

.modal-content
{
  .modal-body
  {
    padding: 0;
    margin: 0;
    background-color: @colorPostBg;
    width: @modal-body-width - 2;
    height: @modal-height;
    border-radius: 3px;

    .place-logo
    {
      height: @post-logo-size;
      width: @post-logo-size;
    }

    .modal-poster
    {
      width: @modal-body-width - 2;
      height: @modal-poster-height;
    }
  }
}







